/*
Theme Name: MR Reformas
Author: Rafinha Fernandes
Description: 
Requires at least: 5.9
Tested up to: 5.9
Requires PHP: 5.6
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #032557;
    --primary-color-hover: #0b56c4;
    --secondary-color: #0D3E82;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}
a {
    color: var(--primary-color);
}
a:hover {
    text-decoration: underline;
}
:hover {
    transition: 0.3s;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    display: flex;
    box-shadow: #ccc 0px 5px 8px;
}
header .logo {
    flex:2;
}
header .menu {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header .menu li{
    list-style: none;
}
header .menu li a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
header .menu li a:hover{
    color: var(--primary-color-hover);
}
header .menu li a:hover,
header .menu li.current-menu-item a {
    color: var(--primary-color-hover);
    text-decoration: underline;
}
header .button {
    flex: 2;
    display: flex;
    align-items: center;
}
header .button a{
    display: block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}
header .button a:hover{
    background-color: var(--primary-color-hover);
}
.servicos-realizados .owl-carousel .owl-item {
    padding-bottom: 30px;
}
.servicos-realizados .owl-carousel .item {
    background: #fff;
    box-shadow: #666 0px 1px 8px;
    padding-bottom: 30px;
}
.servicos-realizados .owl-carousel .icon {
    height: 200px;
    overflow: hidden;
}
.servicos-realizados .owl-carousel .title {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}
.servicos-realizados .owl-carousel .text {
    margin-top: 30px;
    padding: 0 30px;
}
.servicos-realizados .owl-carousel .owl-nav {
    position: absolute;
    top: 36%;
    width: 100%;
}
.servicos-realizados .owl-carousel .owl-nav .owl-prev{
    margin-left: -50px;
}
.servicos-realizados .owl-carousel .owl-nav .owl-next{
    position: absolute;
    right: -50px;
}
.servicos-realizados .owl-carousel .owl-nav span{
    font-size: 100px;
    line-height: 100px;
}
.form-contact .wpforms-field-container {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    column-gap: 20px;
}
.form-contact .wpforms-field-container input,
.form-contact .wpforms-field-container select {
    width: 100% !important;
    max-width: 100% !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 0 !important;
    color: var(--primary-color) !important;
}
.form-contact .wpforms-field-container select {
    color: var(--primary-color) !important;
}
.form-contact .wpforms-field-container label {
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}
.form-contact .wpforms-field-container ::placeholder {
    color: var(--primary-color) !important;
}
.form-contact .wpforms-field-container .message {
    grid-column: col-start / span 2;
}
.form-contact .wpforms-field-container .message textarea {
    grid-column: col-start / span 2;
    color: var(--primary-color) !important;
}
.form-contact .wpforms-submit-container button {
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: 0 !important;
    width: 200px;
    border-radius: 5px;
}
.form-contact .wpforms-submit-container button:hover {
    background-color: var(--primary-color-hover) !important;
}
.form-contact .wpforms-submit-container{
    text-align: center;
}
footer {
    background-color: #E6EAEF;
    padding: 100px 0;;
}
footer .footer-top {
    display: flex;
}
footer .logo {
    flex: 1;
}
footer .menu {
    display: flex;
    gap: 20px;
    align-self: center;
    flex: 1;
    justify-content: end;
}
footer .menu li{
    list-style: none;
}
footer .menu li a{
    text-decoration: none;
    text-transform: uppercase;
}
footer hr {
    border: 1px solid var(--primary-color);
    margin-top: 30px;
}
footer .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    text-align: center;
}
footer .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    text-align: center;
}
footer .footer-bottom h2{
    margin-bottom: 10px;
}
footer .footer-bottom .right a{
    background: var(--primary-color);
    border-radius: 360px;
    color: #fff;
    padding: 7px;
    text-decoration: none;
    margin-left: 15px;
}
footer .footer-bottom .right a:hover{
    background: var(--primary-color-hover);
}

.section-missao-visao-valores .elementor-container{
    gap: 20px;
}

.missao-visao-valores .elementor-widget-wrap{
    box-shadow: #ccc 0px 6px 9px;
    border: 1px solid #ccc;
}
.section-nossa-equipe .elementor-container{
    gap: 20px;
}

.section-nossa-equipe .elementor-widget-wrap{
    box-shadow: #ccc 0px 6px 9px;
    border: 1px solid #ccc;
    padding-bottom: 0 !important;
}

/* RESPONSIVO */
@media (max-width: 767px) {
    .container {
        width: 100% !important;
    }
    header {
        display: none;
    }
    footer {
        padding: 50px 0;
    }
    footer .footer-top {
        flex-direction: column;
        text-align: center;
    }
    footer hr {
        margin-top: 30px !important;
    }
    footer .footer-bottom {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .servicos-realizados .owl-carousel .owl-nav .owl-next {
        right: -20px
    }
    .servicos-realizados .owl-carousel .owl-nav .owl-prev {
        margin-left: -20px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}
